<div id="main-content" class="d-flex container-fluid justify-content-evenly align-items-center h-100vh register-background">

    <div id="form-container" class="d-flex flex-column border border-3 bg-white  p-5 w-25">
        <div id="login-header" class="mt-2 mb-4">
            <h2>Login</h2>
            <small>Enter your details</small>
        </div>
        <form>
            <div class="form-group my-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <div class="form-group my-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary w-100 my-2">Register</button>
            </div>
        </form>
    </div>
</div>
