/* You can add global styles to this file, and also import other style files */

.h-100vh{
    min-height: 100vh;
}

#main-content{
    margin-left: 15%;
    width: auto;
}

.sidebar {
    position:fixed;
    top: 0;
    bottom: 0;
    width: 15%;
}

.bg-primary{
    background-color: #93F52A;
}

.mw-25{
    min-width: 15%;
}

.pill-button{
    border-radius: 20%/100%;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounded-input{
    border-radius: 5%/60%;
    height: 2rem;
}